<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dalton Solutions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar- bg-dark">
    <a class="navbar-brand" href="#">Employees!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">List Departments and Employees <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a  class = "nav-link" th:href="@{/adddepartment}" id="navbarDropdown">
                    Add Department
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addemployee}">
                    Add Employee
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">

    <h1 class="text-center"><b>Departmets @ Dalton Solutions</b></h1>
</div>
    <div class="container">
        <div th:each="department:${departments}">
            <div class="row">
                <div class="col-6">
                    <p class="h4" th:inline="text">Employees Under [[${department.depName}]]</p>
                    <ul>
                        <li th:each="employee:${department.employees}" th:text="${employee.fullName}"></li>
                    </ul>

                </div>
                <div class="col-6">
                    <form th:action="@{/addemployee}">
                        <input type="hidden" name="employeeId" th:value="${employee.employeeId}">
                        <button class="btn btn-default" type="submit">Add an Employee</button>
                    </form>
                </div>

            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>



</body>
</html>